/*Importação de fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

/*Limpar formatações padrão*/
*{
	margin: 0;
	padding: 0;

}

body {
	font-size: 1em; /*16px*/
	font-family: "Trebuchet MS", Helvetica,
	sans-serif;
	width: 100vw;
	background: #FFF;

}

/*LAYOUT*/

#area-cabecalho{
	background-color: #260801;
	width: 100%;
	border-bottom: 2px solid #F2A2A9; 
}

#cabecalho-superior{
	height: 100%;
	align-items: center;
}

#logo{
	color: white;
	font-size: 1.4em;
	letter-spacing: 2px;
	padding: 12px 15px 0px 35px;
	margin-bottom: 15px;
	float: left;
}

#logo-top{
	margin-bottom: -21px;
}

#logo-bot{
	letter-spacing: 6px;
}

#conteiner-nav-icons{
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
	align-items: center;
	height: 85px;
	
}

#nav-principal{
	flex-grow: 0.6;
	padding-left: 40px;
}

#icons{	
	padding-right: 35px;
}

#list-icons{
	padding-top: 15px;
	list-style: none;
	display: flex;
	position: relative;
}

.bolinha{
	width: 18px;
	height: 18px;
	background-color: rgba(217, 107, 67, 1);
	border-radius: 150px;
	position: absolute;
	left: 115px;
	bottom: 20px;
	text-align: center;
	line-height: 1.1em;
}



#list-icons span a{
	margin: 0px 25px;
	color: #F2A391;

}

#cabecalho-inferior {
	width: 100%;

}

#menu{
	padding-right: 1.5%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

/*layout pagina informações do produto*/

.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.mais-vendido{
	text-align: center;
	margin: 25px auto;
}

.marcador-container{

}

.marcador{
	border-radius: 10px;
	padding-bottom: 30px;
	padding-top: 20px;
	margin: 0px 10px;
	background-color: white;
}

.marcador-laterais{
	margin: 0px 10px;
}

#background-rosinha{
	background-color: #F2A2A9;
	width: 100%;
	height: 450px;
}

.esquerda , .direita{
	width: 40px;
	height: 40px;
}

footer{
	background-color: #260801;
	padding: 25px 0px 40px 0px;
	margin-top: 25px;
}



#container-footer{
	display: flex;
	justify-content: space-around;
}

#telefone{
	position: absolute;
	bottom: 7px;
	left: 18px;
}

#contatos{
	position: relative;
	width: 250px;
	text-align: center;
}

.contato{
	letter-spacing: 2px;
	color: #F2A391;
}



#redes-sociais {
	flex-grow: 0.05;
	text-align: center;
}

#icones-sociais{
	display: flex;
	justify-content: space-around;
}

#redes-sociais span a{
	color: #F2A391;
}

/*FORMATAÇÃO DOS LINKS*/

a{
	text-decoration: none;
}

#cabecalho-inferior a:link, #cabecalho-inferior a:visited{
	color: white;
	text-decoration: none;

}
#cabecalho-inferior a:hover{
	color: #D96B43;
	text-decoration: underline;
}

#invisible-man{
	width: 260px;
}

/*FORMATAÇÕES GERAIS*/

.font-AbhayaLibre{
	font-family: 'Abhaya Libre', serif;
}

.font-Aleo{
	font-family: 'Aleo', serif;
}

.logo-size{
	font-size: 2em;
}

.white{
	color: #FFF;
}

.centralizador-text{
	text-align: center;
}

.format-nome-prod{
	font-size: 1.2em;
	letter-spacing: 1px;
	color: #260801;	
}

.format-valor-prod{
	text-indent: -25px;
	font-size: 1.3em;
	letter-spacing: 1px;
	color: #260801;	
}

.align-items-center>i{
	color: #D96B43;
}

.no-margin{
	color: #D96B43;
}

.valor-passado , .valor-ofertado , .parcelas{
	text-indent: -20px;
	font-family: 'Abhaya Libre', serif;
}

.valor-passado{
	font-size: 1.3em;
	text-decoration: line-through;
	margin-bottom: -20px;
}

.valor-ofertado{
	font-size: 2.8em;
	font-weight: bold;
	color: #D96B43;
}

.parcelas{
	font-size: 1.3em;
	margin-top: -20px;
	margin-bottom: 50px;
}



