/*Importação de fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

/*Limpar formatações padrão*/
*{
	margin: 0;
	padding: 0;

}

body {
	font-size: 1em; /*16px*/
	font-family: "Trebuchet MS", Helvetica,
	sans-serif;
	width: 100vw;
	background: #FFF;

}

/*LAYOUT*/

#area-cabecalho{
	background-color: #260801;
	width: 100%;
	border-bottom: 2px solid #F2A2A9; 
}

#cabecalho-superior{
	height: 100%;
	align-items: center;
}

#logo{
	color: white;
	font-size: 1.4em;
	letter-spacing: 2px;
	padding: 0px 15px;
	margin-bottom: 25px;
	float: left;
}

#logo-top{
	margin-bottom: -21px;
}

#logo-bot{
	letter-spacing: 6px;
}

#conteiner-nav-icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
	border: 1px solid white;
	
}

#nav-principal{
	flex-grow: 0.5;
	padding-left: 50px;
}

.input{
	width: 300px;
}

#icons{
	padding-right: 35px;
}

#list-icons{
	list-style: none;
	display: flex;
}

#list-icons span{
	margin: 0px 20px;
}

#cabecalho-inferior {
	width: 100%;

}

#menu{
	padding-right: 1.5%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

/*FORMATAÇÃO DOS LINKS*/

a{
	text-decoration: none;
}

#cabecalho-inferior a:link, #cabecalho-inferior a:visited{
	color: white;
	text-decoration: none;

}
#cabecalho-inferior a:hover{
	color: #D96B43;
	text-decoration: underline;
}

/*FORMATAÇÕES GERAIS*/

.font-AbhayaLibre{
	font-family: 'Abhaya Libre', serif;
}

.font-Aleo{
	font-family: 'Aleo', serif;
}

.logo-size{
	font-size: 2em;
}

.white{
	color: #FFF;
}

